.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

src/main/resources/application.properties
out/
src/main/resources/profiles/
src/main/resources/application.yml
src/main/resources/keystore.p12
